{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/styles.css">
  <script defer src="/static/alpine.js"></script>
  <script src="/static/script.js"></script>
  <title>{{ .Title }}</title>
</head>

<body>

  <!-- view cart modal -->
  <div x-data="view_cart_modal()" x-init="" x-show="$store.modals_state.show_view_cart_modal"
    class="fixed inset-0 z-50 grid place-content-center bg-black/50 p-4" role="dialog" aria-modal="true"
    aria-labelledby="modalTitle">
    <div class="w-full max-w-md rounded-lg bg-white p-6 shadow-lg flex flex-col gap-4">
      <h2 id="modalTitle" class="text-xl font-bold text-gray-900 sm:text-2xl">Current Cart</h2>

      <label for="customer_name">
        <span class="text-sm font-medium text-gray-700"> Customer Name </span>

        <input x-model="customer_name" autocomplete="off" type="text" id="customer_name"
          class="mt-0.5 w-full rounded border-gray-300 shadow-sm sm:text-sm p-2" />
      </label>
      <label for="customer_phone">
        <span class="text-sm font-medium text-gray-700"> Customer Phone </span>

        <input x-model="customer_phone" autocomplete="off" type="text" id="customer_phone"
          class="mt-0.5 w-full rounded border-gray-300 shadow-sm sm:text-sm p-2" />
      </label>
      <label for="customer_address">
        <span class="text-sm font-medium text-gray-700"> Customer Address </span>

        <input x-model="customer_address" autocomplete="off" type="text" id="customer_address"
          class="mt-0.5 w-full rounded border-gray-300 shadow-sm sm:text-sm p-2" />
      </label>
      <label for="discount">
        <span class="text-sm font-medium text-gray-700"> Discount </span>
        <input x-model="discount" type="number" min="0" step="50" id="discount"
          class="mt-0.5 w-full rounded border-gray-300 shadow-sm sm:text-sm p-2" />
      </label>
      <div class="flex justify-between font-bold text-sm">
        <span>Total:</span>
        <span x-text="`${total} XOF`"></span>
      </div>

      <div class="flex justify-between font-bold text-sm">
        <span>Subtotal:</span>
        <span x-text="`${subtotal} XOF`"></span>
      </div>

      <hr>
      <h1 class="font-bold text-xl text-gray-900 sm:text-2xl">Products</h1>

      <ul class="flex flex-col gap-4 overflow-y-scroll max-h-52" >
        <template x-for="product in get_cart_data()">
          <div class="w-full flex flex-col">
            <div class="w-full flex justify-between">
              <h1 x-text="`${product.name} (${product.variant})`"></h1>
              <h1 x-text="`Qty: ${product.quantity}`"></h1>
            </div>
            <div class="w-full flex justify-between text-sm text-gray-500">
              <h1 x-text="`Price: XOF ${product.price}`">Price: </h1>
              <h1 x-text="`XOF ${product.quantity*product.price}`"></h1>
            </div>
            <hr>
          </div>
        </template>
      </ul>


      <footer class="mt-6 flex justify-end gap-2">
        <button @click="toggle_view_cart_modal()" type="button"
          class="rounded bg-gray-100 px-4 py-2 text-sm font-medium text-gray-700 transition-colors hover:bg-gray-200">
          Done
        </button>

        <button @click="submit_order()" type="button"
          class="rounded bg-blue-600 px-4 py-2 text-sm font-medium text-white transition-colors hover:bg-blue-700">
          Save Order
        </button>
      </footer>
    </div>
  </div>
  <!-- view cart modal -->

  <!-- create product modal -->
  <div x-data="create_product_modal()" x-show="$store.modals_state.show_create_product_modal"
    class="fixed inset-0 z-50 grid place-content-center bg-black/50 p-4" role="dialog" aria-modal="true"
    aria-labelledby="modalTitle">
    <div class="w-full max-w-md rounded-lg bg-white p-6 shadow-lg flex flex-col gap-4">
      <h2 id="modalTitle" class="mb-4 text-xl font-bold text-gray-900 sm:text-2xl">New Product</h2>

      <label for="name">
        <span class="text-sm font-medium text-gray-700"> Nom </span>
        <input autocomplete="off" x-model="name" type="text" id="name"
          class="mt-0.5 w-full rounded border-gray-300 shadow-sm sm:text-sm p-2" />
      </label>

      <div>
        <label for="variant">
          <span class="text-sm font-medium text-gray-700"> Variante </span>
          <select x-model="variant" name="variant" id="variant"
            class="mt-0.5 w-full rounded border-gray-300 shadow-sm sm:text-sm p-2 text-gray-500">
            <option value="mini">Mini</option>
            <option value="classique">Classique</option>
            <option value="moyen">Medium</option>
            <option value="grand">Grand</option>
          </select>
        </label>
      </div>

      <label for="price">
        <span class="text-sm font-medium text-gray-700"> Prix </span>
        <input x-model="price" type="number" min="0" step="50" id="price"
          class="mt-0.5 w-full rounded border-gray-300 shadow-sm sm:text-sm p-2" />
      </label>

      <label for="description">
        <span class="text-sm font-medium text-gray-700"> Description </span>
        <textarea autocomplete="off" x-model="description" name="description"
          class="mt-0.5 w-full rounded border-gray-300 shadow-sm sm:text-sm p-2 text-gray-500"
          id="description" /></textarea>
      </label>

      <label for="image">
        <span class="text-sm font-medium text-gray-700"> Image </span>
        <input autocomplete="off" x-model="image" type="text" id="image"
          class="mt-0.5 w-full rounded border-gray-300 shadow-sm sm:text-sm p-2" />
      </label>

      <label for="in_stock">
        <span class="text-sm font-medium text-gray-700"> Qte en stock </span>
        <input x-model="in_stock" type="number" min="0" step="10" id="in_stock"
          class="mt-0.5 w-full rounded border-gray-300 shadow-sm sm:text-sm p-2" />
      </label>

      <footer class="mt-6 flex justify-end gap-2">
        <button @click="toggle_modal()" type="button"
          class="rounded bg-gray-100 px-4 py-2 text-sm font-medium text-gray-700 transition-colors hover:bg-gray-200">
          Done
        </button>

        <button @click="create_product()" type="button"
          class="rounded bg-blue-600 px-4 py-2 text-sm font-medium text-white transition-colors hover:bg-blue-700">
          Create
        </button>
      </footer>
    </div>
  </div>
  <!-- create product modal -->

  <header class="bg-white" x-data="layout_handler()">
    <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
      <div class="flex h-16 items-center justify-between">
        <div class="md:flex md:items-center md:gap-12">
          <h1 class="block text-teal-600">{{ .Title }}</h1>
        </div>
        <div class="flex items-center gap-4">
          <div class="block ">
            <button @click="toggle_sidebar()"
              class="rounded-sm bg-gray-100 p-2 text-gray-600 transition hover:text-gray-600/75">
              <svg xmlns="http://www.w3.org/2000/svg" class="size-5" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div x-show="open_sidebar" x-transition.opacity class="fixed inset-0 bg-black/30 z-40" @click="open = false"></div>
    <aside x-show="open_sidebar" x-transition:enter="transform transition ease-in-out duration-300"
      x-transition:enter-start="translate-x-full" x-transition:enter-end="translate-x-0"
      x-transition:leave="transform transition ease-in-out duration-300" x-transition:leave-start="translate-x-0"
      x-transition:leave-end="translate-x-full" class="fixed top-0 right-0 h-full w-64 bg-white shadow-lg z-50 p-4">
      <button @click="open_sidebar = false" class="mb-4 text-gray-600 hover:text-gray-800">
        x
      </button>
      <nav class="flex flex-col space-y-2">
        {{ range .SidebarItems }}
        <a {{ if eq .Text $.Title}}class="text-indigo-600" {{else}}class="text-gray-500" {{end}}
          class="block p-2 rounded" href="{{.Url}}">
          {{.Text}}
        </a>
        {{ end }}
        <hr>
        <details class="group [&_summary::-webkit-details-marker]:hidden">
          <summary class="flex cursor-pointer items-center justify-between rounded-lg py-2 text-gray-500">
            <span class="text-sm font-medium">Actions</span>

            <span class="shrink-0 transition duration-300 group-open:-rotate-180">
              <svg xmlns="http://www.w3.org/2000/svg" class="size-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd" />
              </svg>
            </span>
          </summary>

          <ul class="mt-2 space-y-1 px-2">
            <li>
              <h1 @click="toggle_create_product_modal()"
                class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700">
                New Product
              </h1>
            </li>

            <li>
              <h1 @click="toggle_view_cart_modal()"
                class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700">
                View Cart
              </h1>
            </li>
          </ul>
        </details>
      </nav>
    </aside>
  </header>
  {{ template "content" . }}
</body>

</html>
{{ end }}
