{{ define "content" }}

<section>
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
    <ul class="mt-8 grid gap-4 sm:grid-cols-2 lg:grid-cols-4 divide-y">
      {{ range .Data.Products }}
      <li data-id="{{.ID}}" data-name="{{.Name}}" data-variant={{.Variant}} data-price={{.Price}}
        x-data="product_card()">
        <div class="group block overflow-hidden mb-2">
          <img src="{{.Image}}" alt=""
            class="h-[350px] w-full object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]" />

          <div class="relative bg-white pt-3">
            <h3 class="text-sm text-gray-700">
              {{.Name}} - {{.Variant}}
            </h3>

            <div class="mt-2 flex items-center justify-between">
              <span class="tracking-wider text-gray-900">{{.Price}} XOF</span>

              <div class="flex items-center space-x-2">
                <button @click="decrease_quantity()"
                  class="rounded-md bg-red-600 px-3 py-1 text-xs font-medium text-white hover:bg-red-700">
                  −
                </button>
                <span x-text="quantity"
                  class="w-12 rounded-md border-gray-300 text-center text-sm focus:border-blue-500 focus:ring-blue-500"></span>

                <button @click="increase_quantity()"
                  class="rounded-md bg-green-600 px-3 py-1 text-xs font-medium text-white hover:bg-green-700">
                  +
                </button>
              </div>
            </div>
          </div>
        </div>
      </li>
      {{ end }}
    </ul>
  </div>
</section>
{{ end }}
